ion-card {
    position: relative;
    text-align: center;

    margin: 0;
    padding: 0;
    max-height: 100%;
}

.card-title {
    position: absolute;
    top: 45%;
    font-size: 5.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.card-subtitle {
    display: none;
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
}

.card-timer {
    font-size: 2.0em;
    position: absolute;
    top: 5%;
    width: 150px;
    color: #fff;
}

.t10 { background-color: limegreen }
.t9 { background-color: limegreen }
.t8 { background-color: limegreen }
.t7 { background-color: olivedrab }
.t6 { background-color: olivedrab }
.t5 { background-color: olivedrab }
.t4 { background-color: orangered }
.t3 { background-color: orangered }
.t2 { background-color: red }
.t1 { background-color: red }

.buttons {
    display: flex;
    flex: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .btn-validation {
        color: whitesmoke;
        height: 115px;
        min-width: 150px;
        width: 25%;

        ion-icon {
            font-size: 75px;
            margin-top: 25px;
        }
    }

    .btn-left {
        background-color: rgba(0, 255, 0, 0.5);
        border-radius: 0 100% 0 0;

        ion-icon {
            margin-right: 25%;
        }
    }

    .btn-right {
        background-color: rgba(255, 0, 0, 0.5);
        border-radius: 100% 0 0 0;

        ion-icon {
            margin-left: 25%;
        }
    }
    .separator {
        flex: 1;
    }
}