<!--
    <ion-header>
        <ion-toolbar>
            <ion-title>board</ion-title>
        </ion-toolbar>
    </ion-header>
-->

<ion-content padding>
    <ion-card>
        <img src="{{ slide.url }}" />
        <div *ngIf="!stopped" class="game-title">{{ slide.text }}</div>
        <div class="game-subtitle">41 Listings</div>
        <div *ngIf="showingResult" class="game-results">
            <div class="results">
                {{ goodCounter }} aciertos
                <div *ngFor="let word of validWords">{{ word }}</div>
            </div>
        </div>
        <div *ngIf="!stopped" class="game-timer t{{ time }}">{{ time | secondsToTime }}</div>
        <div *ngIf="stopped" (click)="startTimer()" class="game-timer t10 button">START</div>
        <button class="btn-config" ion-button icon-end clear (click)="openConfig()">
            <ion-icon name="settings"></ion-icon>
        </button>
        <div *ngIf="!stopped" class="buttons">
            <button class="btn-validation btn-left" ion-button icon-start clear (click)="onGood()">
                <ion-icon name="checkmark"></ion-icon>
            </button>
            <div class="separator"></div>
            <button class="btn-validation btn-right" ion-button icon-end clear (click)="onBad()">
                <ion-icon name="share-alt"></ion-icon>
            </button>
        </div>
    </ion-card>
</ion-content>