ion-card {
    position: relative;
    text-align: center;

    margin: 0;
    padding: 0;
    max-height: 100%;
<<<<<<< HEAD
}

.button {
    cursor: pointer;
=======
>>>>>>> 29e0db2c469f8938724845e6738016c91e413252
}

.game-title {
    position: absolute;
    top: 45%;
    font-size: 5.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

<<<<<<< HEAD
.game-subtitle {
=======
.card-subtitle {
>>>>>>> 29e0db2c469f8938724845e6738016c91e413252
    display: none;
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
}

<<<<<<< HEAD
.game-timer {
=======
.card-timer {
>>>>>>> 29e0db2c469f8938724845e6738016c91e413252
    font-size: 2.0em;
    position: absolute;
    top: 5%;
    width: 150px;
    color: #fff;
}

<<<<<<< HEAD
.game-results {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;

    .results {
        background: rgba(0,0,0, 0.75);
        border-radius: 15px;        
        color: #ecf783;
        display: inline-block;
        font-size: 2em;
        padding: 25px 39px;
        text-align: left;

        div {
            color: white;
            
            :first-child {
                margin-top: 10px;
            }
        }
    }
}

.t10 { background-color: limegreen }
.t9 { background-color: limegreen }
.t8 { background-color: limegreen }
.t7 { background-color: olivedrab }
=======
.t10 { background-color: limegreen }
.t9 { background-color: limegreen }
.t8 { background-color: olive }
.t7 { background-color: olive }
>>>>>>> 29e0db2c469f8938724845e6738016c91e413252
.t6 { background-color: olivedrab }
.t5 { background-color: olivedrab }
.t4 { background-color: orangered }
.t3 { background-color: orangered }
.t2 { background-color: red }
.t1 { background-color: red }

<<<<<<< HEAD
.btn-config {
    background: transparent;
    position: absolute;
    right: 5px;
    top: 5px;

    ion-icon {
        font-size: 4em;
        color: whitesmoke;
    }
}


=======
>>>>>>> 29e0db2c469f8938724845e6738016c91e413252
.buttons {
    display: flex;
    flex: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .btn-validation {
<<<<<<< HEAD
        color: whitesmoke;
        height: 115px;
        min-width: 150px;
        width: 25%;

        ion-icon {
            font-size: 75px;
            margin-top: 25px;
=======
        height: 100px;
        width: 25%;
        color: whitesmoke;

        ion-icon {
            font-size: 75px;
>>>>>>> 29e0db2c469f8938724845e6738016c91e413252
        }
    }

    .btn-left {
        background-color: rgba(0, 255, 0, 0.5);
<<<<<<< HEAD
        border-radius: 0 100% 0 0;
=======
        border-radius: 0 75% 0 0;
>>>>>>> 29e0db2c469f8938724845e6738016c91e413252

        ion-icon {
            margin-right: 25%;
        }
    }

    .btn-right {
        background-color: rgba(255, 0, 0, 0.5);
<<<<<<< HEAD
        border-radius: 100% 0 0 0;
=======
        border-radius: 75% 0 0 0;
>>>>>>> 29e0db2c469f8938724845e6738016c91e413252

        ion-icon {
            margin-left: 25%;
        }
    }
    .separator {
        flex: 1;
    }
}